In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
automation_file = "Resources/automation_data_by_state.csv"
automation_data_df = pd.read_csv(automation_file)
automation_data_df.head()

,SOC,Occupation,Probability,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,11-1011,Chief Executives,0.015,1030,760,5750,2710,31150,880,1410,...,560,5460,5890,3650,280,6320,5910,980,3740,160
1,11-1021,General and Operations Managers,0.160,26930,6490,43300,20680,261780,41540,33280,...,3730,44400,168610,36200,2760,52380,43760,10200,32350,4840
2,11-2011,Advertising and Promotions Managers,0.039,50,40,470,110,3760,480,300,...,0,670,1210,380,40,240,640,40,200,0
3,11-2021,Marketing Managers,0.014,530,200,4790,1090,33390,3060,4970,...,60,3400,9570,2320,380,3840,5830,260,2980,30
4,11-2022,Sales Managers,0.013,2510,400,10650,2650,69180,4570,7040,...,300,8890,22310,3360,480,5360,7390,600,5730,180

In [4]:
occupation_file = "Resources/occupation_salary.csv"
occupation_data_df = pd.read_csv(occupation_file)
occupation_data_df.head()

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,00-0000,All Occupations,total,"140,400,040",0.1,23.86,"49,630",0.1,9.27,11.60,17.81,28.92,45.45,"19,290","24,140","37,040","60,150","94,540",NaN,NaN
1,11-0000,Management Occupations,major,"7,090,790",0.2,56.74,"118,020",0.1,22.76,32.99,48.46,70.72,#,"47,330","68,630","100,790","147,090",#,NaN,NaN
2,11-1000,Top Executives,minor,"2,465,800",0.2,61.03,"126,950",0.2,20.58,31.45,49.19,78.35,#,"42,810","65,420","102,320","162,970",#,NaN,NaN
3,11-1010,Chief Executives,broad,"223,260",0.7,93.44,"194,350",0.4,33.55,54.86,87.12,#,#,"69,780","114,100","181,210",#,#,NaN,NaN
4,11-1011,Chief Executives,detailed,"223,260",0.7,93.44,"194,350",0.4,33.55,54.86,87.12,#,#,"69,780","114,100","181,210",#,#,NaN,NaN

In [25]:
#add Occupational Categories by Occupations Group

category_major = occupation_data_df.loc[occupation_data_df['OCC_GROUP'] == 'major']
category_minor = occupation_data_df.loc[occupation_data_df['OCC_GROUP'] == 'minor']
category_broad = occupation_data_df.loc[occupation_data_df['OCC_GROUP'] == 'broad']

category_major.head()

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
1,11-0000,Management Occupations,major,"7,090,790",0.2,56.74,"118,020",0.1,22.76,32.99,48.46,70.72,#,"47,330","68,630","100,790","147,090",#,NaN,NaN
70,13-0000,Business and Financial Operations Occupations,major,"7,281,190",0.2,36.09,"75,070",0.2,17.74,23.78,31.99,43.47,58.13,"36,910","49,460","66,530","90,410","120,910",NaN,NaN
128,15-0000,Computer and Mathematical Occupations,major,"4,165,140",0.4,42.25,"87,880",0.4,20.51,28.42,39.82,53.70,67.91,"42,650","59,120","82,830","111,690","141,250",NaN,NaN
161,17-0000,Architecture and Engineering Occupations,major,"2,499,050",0.6,40.53,"84,300",0.3,20.46,27.66,37.45,50.06,64.15,"42,550","57,540","77,900","104,130","133,440",NaN,NaN
221,19-0000,"Life, Physical, and Social Science Occupations",major,"1,152,840",0.7,35.06,"72,930",0.4,16.03,21.67,30.45,43.78,59.27,"33,350","45,060","63,340","91,060","123,280",NaN,NaN

In [24]:
#insert major/minor/broad categories into columns by index
major_codes = {}

for code in operation_data_df.iterrows():
    major_codes.append(occupation_data_df.loc[occupation_data_df['OCC_GROUP'] == 'major'])

TypeError: 'builtin_function_or_method' object is not subscriptable